/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;  /*Color del fondo de pàgina */
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height:100%;
  background-color:rgb(104, 118, 146); /*Color del fondo de pàgina */
}
body {
  color: rgb(255, 255, 255); /*Color de letra*/
  text-align: center; /*alineacion de texxto*/
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display:table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  }

/* Padding for spacing */
.inner {
  padding: 30px;}

/*
 * Header
 */
.masthead-brand {
  margin-top: 2px;
  margin-bottom: 5px;
  color: #fff;  
}

.masthead-nav > li {
  display: inline-block;
  
}
.masthead-nav > li + li {
  margin-left: 10px;}  /* es el espaciado de las etiquetas */

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75); /*Color de las etiquetas inactivas*/
  border-bottom: 3px solid transparent; /*Ancho de la linea de etiqueta*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: rgba(44, 177, 230, 0.493);
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(214, 31, 31, 0.25);
  border-radius: 11px; /* Recuadros al selecionar la opcion*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: rgb(44, 177, 230); /*Color de letra de la etiqueta activa*/
  border-bottom-color: rgba(44, 177, 230, 0.493);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;  
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgb(190, 186, 186); /* IE8 proofing */
  color: rgba(255, 255, 255, 0.575);/* Color de letra */
  background-color: #fff; /*Color del foot pagina*/ 
  text-align: center; 
  }


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position:fixed;
    top: 0;    
  }
  .mastfoot {
    position:fixed; /*fixed: fijo*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
      }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px; 
  }/* Ancho de pagina*/
}

/* Scroll Personalizado */

body::-webkit-scrollbar {
	width: 20px;
	background: rgb(104, 118, 146);
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.438);
	border-radius: 20px;
	border-right: 2px solid #021b79;
}

/* menu*/
/*
.dropdown-menu > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight:normal;
  color: #fff; /* IE8 proofing */
 /* color: rgb(255, 255, 255);
  border-bottom: 3px solid transparent;
}

.dropdown-menu > li > a:focus {
  background-color: rgba(44, 177, 230, 0.493);
  border-bottom-color: rgba(44, 177, 230, 0.493);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  border-radius: 11px; /* Recuadros al selecionar la opcion*/
/*}
.dropdown-menu > .active > a,
.dropdown-menu> .active > a:hover,
.dropdown-menu> .active > a:focus {
  color: rgba(44, 177, 230, 0.493);
  border-bottom-color: rgba(16, 94, 124, 0.493);
}
*/
